* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.header {
  width: 100%;
  float: left;
  background: rgb(3, 169, 245);
  background: linear-gradient(
    90deg,
    rgba(3, 169, 245, 1) 0%,
    rgba(62, 120, 243, 1) 31%,
    rgba(118, 74, 241, 1) 53%,
    rgba(158, 41, 240, 1) 97%
  );
}
.header-head {
  width: 100%;
  padding: 50px 10px;
  float: left;
  max-height: 200px;
  background: transparent;
}
.header-headleft {
  width: 30%;
  float: left;
}
.header-headright {
  width: 70%;
  float: right;
}
.nav-lines {
  width: 20%;
}
.btn-lines {
  text-decoration: none;
  border: none;
  width: 3.8rem;
  margin: 0px 10px;
  background: transparent;
}
.line {
  background-color: #fff;
  height: 2px;
  width: 100%;
  margin: 3.5px;
}
#line-2 {
  width: 50%;
}
#line-3 {
  width: 70%;
}
.nav-lines:hover #line-2 {
  width: 100%;
  transition: all 500ms ease-in-out;
}
.nav-lines:hover #line-1 {
  width: 70%;
  transition: all 500ms ease-in-out;
}
.nav-lines:hover #line-3 {
  width: 50%;
  transition: all 500ms ease-in-out;
}
.logo {
  display: flex;
  justify-content: center;
  width: 80%;
  float: left;
  padding-right: 12rem;
}
#logo {
  width: 17rem;
}
.nav-links {
  width: 100%;
  float: right;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.nav-a {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
}
.nav-a:hover{
  text-decoration: none;
  color: #fff;
}
#navlines-icon{
  display: inline;
  position: absolute;
  top: 5%;
  left: 35.5%;
  width: fit-content;
  float: none;
  color: #fff;
  font-size: 2.2rem;
  /* transition: all 500ms ease-in; */
}
#nava-1:hover #navlines-icon{
  left: 35.5%;
}
#nava-2:hover #navlines-icon{
  left: 43%;
}
#nava-3:hover #navlines-icon{
  left: 51.5%;
  transition: all 500ms ease-in;
}
#nava-4:hover #navlines-icon{
  left: 60.5%;
  transition: all 500ms ease-in;
}
#nava-5:hover #navlines-icon{
  left: 69%;
  transition: all 500ms ease-in;
}
#nava-6:hover #navlines-icon{
  left: 79%;
  transition: all 500ms ease-in;
}
#btn-style {
  width: max-content;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 12px;
  padding: 6px 1.8em;
}
/* button */
.btn {
  -webkit-appearance: initial;
  overflow: hidden;
  position: sticky;
  z-index: 2;
  display: inline-block;
  font-size: 17px;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  line-height: inherit;
  border-radius: 0;
  text-transform: capitalize;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}
/* button size */
.btn.btn-small {
  font-size: 12px;
  padding: 4px 1.8em;
}
.btn.btn-medium {
  font-size: 12px;
  padding: 6px 1.8em;
}
.btn.btn-large {
  font-size: 14px;
  padding: 9px 34px;
  line-height: 1.8em;
}
.btn.btn-rounded {
  border-radius: 50px;
}

.btn.btn-slider {
  font-size: 14px !important;
  padding: 9px 34px !important;
  line-height: 1.8em !important;
}

.btn-hvr-setting {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.btn-hvr-setting-inner {
  position: relative;
  display: block;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.btn-hvr-effect {
  position: absolute;
  top: -5px;
  width: 25%;
  height: 100%;
  border-radius: 100%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
  transform: translate3d(0, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s !important;
  background: #ffffff;
  border-color: #ffffff;
}
.btn-hvr-effect:nth-child(1) {
  left: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s !important;
}
.btn-hvr-effect:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s !important;
}
.btn-hvr-effect:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s !important;
}
.btn-hvr-effect:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s !important;
}
.btn-hvr-setting:hover .btn-hvr-effect,
.btn:hover .btn-hvr-effect,
.btn:active .btn-hvr-effect,
.btn:focus .btn-hvr-effect {
  -webkit-transform: translateZ(0) scale(1.7);
  transform: translateZ(0) scale(1.7) !important;
}
.btn-hvr-grey .btn-hvr-effect {
  background: #00bcd4;
}

/* button background */
.btn.btn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #585858;
}
.btn.btn-transparent-white {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn.btn-transparent-black {
  background: transparent;
  border-color: #18212e;
  color: #18212e;
}
.btn.btn-black {
  background: #18212e;
  border-color: #18212e;
  color: #ffffff;
}
.btn.btn-blue {
  background: #03a9f5;
  border-color: #03a9f5;
  color: #ffffff;
}
.btn.btn-pink {
  background: #f023b6;
  border-color: #f023b6;
  color: #ffffff;
}
.btn.btn-purple {
  background: #7004bc;
  border-color: #7004bc;
  color: #ffffff;
}

/*Button Hover bg*/
.btn.btn-hvr-white:hover,
.btn.btn-hvr-white:focus {
  color: #18212e;
  border-color: #fff;
  background: transparent !important;
}
.btn.btn-hvr-white .btn-hvr-effect {
  background: #fff;
  border-color: #fff;
}
.btn.btn-hvr-blue:hover,
.btn.btn-hvr-blue:focus {
  color: #fff;
  border-color: #03a9f5;
  background: transparent !important;
}
.btn.btn-hvr-blue .btn-hvr-effect {
  background: #03a9f5;
  border-color: #03a9f5;
}
.btn.btn-hvr-pink:hover,
.btn.btn-hvr-pink:focus {
  color: #fff;
  border-color: #f023b6;
  background: transparent !important;
}
.btn.btn-hvr-pink .btn-hvr-effect {
  background: #f023b6;
  border-color: #f023b6;
}
